@model HaberListViewModel

<div class="container-fluid">
    <div class="row justify-content-between">
        <div class="col-7">

            @foreach (var item in Model.Haberler)
            {
                <div class="row">
                    <div class="col-12 d-flex align-items-center border" style="padding:5px;">
                        <div class="col-5">
                            <img src="~/img/haber/@item.HaberResim" alt="..." class="img-thumbnail">
                        </div>
                        <div class="col-7">
                            <a style="color:white;" href="/home/detail/@item.HaberID">@item.HaberBaslik</a>
                        </div>
                    </div>
                </div>
                <br />

            }
        </div>
        <div class="col-4 border" style="background-color:#303030;">
            <br />
            <div class="text-center">
                <h5 class="text-white">@localizer["Yeni Oyunlar"]</h5>
            </div>
            <br />
            @foreach (var item in Model.Oyunlar1)
            {
                <div class="row">
                    <div class="col-12 d-flex align-items-center" style="border:solid;border-color:black;padding:5px;">
                        <div class="col-5">
                            <img src="~/img/oyun/@item.Resim" alt="..." class="img-thumbnail">
                        </div>
                        <div class="col-7">
                            <p style="color:white;">@localizer["Oyun"]: <a style="color:white;" href="/yeni/detail/@item.OyunID">@item.OyunAdi</a></p>
                            <p style="color:white;">@localizer["Çıkış Tarihi"]: @item.PiyasayaSurulmeTarihi.ToShortDateString()</p>
                        </div>
                    </div>
                </div>
                <br />
            }
            <div class="text-center">
                <h5 class="text-white">@localizer["Popüler Oyunlar"]</h5>
            </div>
            <br />
            @{ var i = 0; }
            @foreach (var item in Model.Oyunlar2)
            {
                { i += 1; }
                <div class="row">
                    <div class="col-12 d-flex align-items-center" style="border:solid;border-color:black;padding:5px;">
                        <div class="col-1">
                            <p><font face="trajan" color="white" size="3"><b>@i.</b></font></p>
                        </div>
                        <div class="col-4">
                            <img src="~/img/oyun/@item.Resim" alt="..." class="img-thumbnail">
                        </div>
                        <div class="col-7">
                            <p style="color:white;">@localizer["Oyun"]: <a style="color:white;" href="/populer/detail/@item.OyunID">@item.OyunAdi</a></p>
                            <p style="color:white;">@localizer["Görüntülenme Sayısı"]: @item.GoruntulenmeSayisi</p>
                        </div>
                    </div>
                </div>
                <br />
            }
        </div>
    </div>
</div>