@model FavoriListViewModel

@foreach (var item in Model.Favoriler)
{
    @if(item.Oyun.oyunGosterilsinmi == false)
    { 
    <div class="row">
        <div class="col-12 d-flex align-items-center" style="border:solid;border-color:black;padding:5px;">
            <div class="col-5">
                <img src="~/img/oyun/@item.Oyun.Resim" alt="..." class="img-thumbnail">
            </div>
            <div class="col-7">
                <p style="color:white;">@localizer["Oyun"]: <a style="color:white;" href="/oyunlar/detail/@item.OyunID">@item.Oyun.OyunAdi</a></p>
                <p style="color:white;">@localizer["Geliştirici"]: @item.Oyun.Gelistirici</p>
                <p style="color:white;">@localizer["Yayıncı"]: @item.Oyun.Yayinci</p>
                <a href="/Favori/FavoridenCikar/@item.Oyun.OyunID" class="btn btn-danger btn-circle text-uppercase"><span class="glyphicon glyphicon-send">@localizer["Favorilerden Kaldır"]</span></a>
            </div>
        </div>
    </div>
    <br />
    }
}