@model Oyun

<div class="container-fluid">
    <div class="col-12 d-flex align-items-center">
        <div class="col-5">
            <img src="~/img/oyun/@Model.Resim" alt="..." class="img-fluid">
        </div>
        <div class="col-7">
            <p style="color:white;">Oyun: @Model.OyunAdi</p>
            <p style="color:white;">Çıkış Tarihi: @Model.PiyasayaSurulmeTarihi.ToShortDateString()</p>
            <p style="color:white;">Geliştirici: @Model.Gelistirici</p>
            <p style="color:white;">Yayıncı: @Model.Yayinci</p>
            <p style="color:white;">Açıklama: @Model.Aciklama</p>
            <p style="color:white;">Görüntülenme Sayısı: @Model.GoruntulenmeSayisi</p>
        </div>
    </div>
</div>